body {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.overlay-open {
    overflow: hidden;
}

.close-btn {
    border: none;
    order: 1;
    font-size: 25px;
    background: transparent;
    color: white;
    cursor: pointer;
    width: 40px !important;
    padding-right: 100px;
    position: absolute;
    right: 0;
}

.img-fluid {
    height: 350px !important;
    width: 100%;
    cursor: pointer;
    margin: 40px 0px 0px;
    position: relative;
    object-fit: cover;
}

iframe {
    height: 400px;
    width: 800px;
}

.play-btn {
    position: absolute;
    top: 50%;
    right: 0;
    text-align: center;
    width: 100%;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.img-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: 9;
    display: none;
    animation: overlay .2s ease-in-out;
}

@keyframes overlay {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

li a.active {
    background-color: red !important;
    color: white !important;
}

li a {
    background-color: transparent;
    color: black !important;
}

.nav {
    justify-content: center;
    gap: 30px;
}

.nav {
    margin: 30px 0px;
}

.content {
    margin: auto;
    width: 100%;
}

img {
    width: 700px;
    height: 500px;
}

.btn-wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.prev-btn,
.next-btn {
    background: transparent;
    border: none;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.zoom-img {
    display: grid;
    justify-items: end;
}

@media screen and (min-width:320px) and (max-width: 400px) {
    .img-fluid {
        height: 143px !important;
    }
}

@media screen and (min-width:400px) and (max-width: 570px) {
    .img-fluid {
        height: auto !important;
    }
}

@media screen and (min-width:570px) and (max-width: 800px) {
    .img-fluid {
        height: 143px !important;
    }
}

@media screen and (min-width:320px) and (max-width: 800px) {
    .close-btn {
        padding-left: 0px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .nav {
        flex-direction: row;
        flex-wrap: nowrap !important;
        align-items: center;
        margin-top: 20px !important;
        overflow: hidden;
        overflow-x: scroll;
    }

    .nav-link {
        padding: 5px !important;
        border-radius: 0.25rem;
        width: max-content;
    }

    .container {
        padding: 0px !important;
        margin: 0px auto !important;
    }

    iframe,
    video {
        width: 100%;
        height: auto;
    }
}